.table-container{
  display: flex;
  justify-content: center;
}

.table{
  width: 95%;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header{

  font-family: Helvetica;
  background-color: #0500FF;
}

.textHeaderL{
  border-top-left-radius: 10px;
}
.textHeaderR{
  border-top-right-radius: 10px;
}

.textHeader, .textHeaderL, .textHeaderR{
  padding: 14px 0px 14px 32px;
  color: white;
  text-align: start;
  font-weight: 500;
  font-size: 20px;
}

.textBody{
  padding: 14px 0px 14px 32px;
  border-bottom: 2px solid #DFDFDF;
  font-weight: 400;
  font-size: 20px;
}

.image{
  border-radius: 100%;
  width: 34px;
  height: 34px;
}