:root{
  background: #ffff;
}

.containerFunc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 10vh;
  width: 100%;
}

.funcionario{
  font-size: 24px;
  padding-left: 1.5%;
}

@media screen and (max-width: 768px) {
  .containerFunc{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .funcionario{
    padding-left: 0;
  }
}