:root{
  background: #ffff;
}

.containerFunc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 10vh;
  width: 97%;
}

.funcionario{
  font-size: 24px;
  padding-left: 1.5%;
}